/* ===========================================
   ESTILO GLOBAL 
   =========================================== */
   body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0f1d2b; /* Fundo do universo */
    color: #e0f2f1; /* Texto claro */
}

/* ===========================================
   CABEÇALHO
   =========================================== */
.header {
    background-color: #2b3240; /* Cor neutra para contraste */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
}

.logo-image {
    width: 150px;
}

.social-icons {
    display: flex;
}

.social-icon {
    margin-left: 15px;
    transition: transform 0.3s ease;
}

.social-icon img {
    width: 50px;
    height: 50px;
}

.social-icon:hover {
    transform: scale(1.1);
}

/* ===========================================
   MENU PRINCIPAL
   =========================================== */
.menu-section {
    text-align: center;
    position: relative;
    background-color: #3a475e; /* Fundo do menu */
    padding: 10px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.menu-section ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

.menu-section ul li {
    position: relative;
    margin: 0 30px;
}

.menu-section ul li a {
    text-decoration: none;
    color: #b2ebf2;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.menu-section ul li a:hover {
    background-color: #26c6da; /* Fundo ao passar o mouse */
    color: #3a475e;
}

/* ===========================================
   SUBMENU E SUB-SUBMENU
   =========================================== */
   /* Estilo do menu principal */
.menu-section ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}
   
   .menu-section ul li .submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: #3a475e;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    padding: 10px 0;
    white-space: nowrap;
    opacity: 0; /* Submenu invisível inicialmente */
    transition: opacity 0.2s ease-in-out; /* Transição suave */
}

.menu-section ul li:hover .submenu {
    display: block;
    transition: opacity 0.2s ease-in-out;
    opacity: 1; /* Torna o submenu visível */
}

.menu-section ul li .submenu li {
    margin: 0;
    position: relative;
}

.menu-section ul li .submenu li a {
    padding: 12px 20px;
    color: #b2ebf2;
    display: block;
    min-width: 150px;
    transition: background-color 0.3s;
}

.menu-section ul li .submenu li a:hover {
    background-color: #26c6da;
    color: #3a475e;
}

/* Nível 2 - Submenu-2 */
.menu-section ul li .submenu .submenu-2 {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    margin-left: 10px;
    background: #3a475e;
    padding-top: 0px;
    border-radius: 5px;
    z-index: 1;
}

/* Indicador visual de submenu (seta) */
.menu-section ul li a.has-submenu::after {
    content: " ▼";
    font-size: 0.8em;
    color: #b2ebf2;
    margin-left: 5px;
}

/* Links do submenu */
.menu-section ul li .submenu li a,
.menu-section ul li .submenu .submenu-2 li a {
    padding: 10px 20px;
    color: #b2ebf2;
    display: block;
    min-width: 150px;
    transition: background-color 0.3s;
}

.menu-section ul li .submenu li a:hover,
.menu-section ul li .submenu .submenu-2 li a:hover {
    background-color: #26c6da;
    color: #3a475e;
}

/* ===========================================
   SEÇÃO DE DESTAQUES, CARDS E OUTRAS ÁREAS
   =========================================== */
   .highlights, .quotes-carousel, .featured-reviews, .about-partners {
    text-align: center;
    margin: 20px;
}

.cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    background-color: #3a475e;
    transition: transform 0.2s;
    color: #e0f2f1;
}

.card:hover {
    transform: translateY(-5px);
}

.large-card {
    width: 200px;
}


.large-card {
    width: 200px;
}

/* ===========================================
   CAROUSEL
   =========================================== */
   .quotes-carousel {
    position: relative;
}

.carousel-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel {
    width: 1000px;
    overflow: hidden;
    text-align: center;
}

.quote {
    display: none;
    padding: 10px;
}

.quote.active {
    display: block;
}

.arrow {
    background-color: #5c6bc0;
    color: #e0f2f1;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 24px;
    margin: 0 10px;
    border-radius: 5px;
    transition: background-color 0.5s;
}

.arrow:hover {
    background-color: #7986cb;
}

.arrow:focus {
    outline: 2px solid #e0f2f1;
}

/* ===========================================
   LINHA PONTILHADA
   =========================================== */
.dotted-line {
    border-top: 1px dotted #e0f2f1;
    margin: 10px 0;
}

.featured-reviews .card {
    border: none; /* Remover a borda */
    padding: 15px; /* Aumentar o padding */
    background-color: #422b4a; /* Manter a cor de fundo do card */
    transition: transform 0.2s;
    width: 250px; /* Ajustar a largura do card conforme necessário */
    height: auto; /* Altura automática para acomodar as imagens */
}

.featured-reviews img {
    width: 100%; /* Assegurar que as imagens ocupem toda a largura do card */
    height: auto; /* Altura automática para manter a proporção da imagem */
    border-radius: 5px; /* Bordas arredondadas para um toque elegante */
}

.featured-reviews .card:hover {
    transform: translateY(-5px); /* Efeito ao passar o mouse */
}

/* ===========================================
   ESTILO DO BOTÃO DOS CARDS
   =========================================== */
.card button {
    width: 90%; /* Ocupa quase toda a largura do card */
    padding: 10px; /* Espaçamento interno para conforto */
    border: none; /* Remove borda padrão do botão */
    border-radius: 20px; /* Bordas arredondadas */
    background-color: transparent; /* Fundo transparente */
    color: #F5F5F5; /* Cor do texto (leitura) */
    font-size: 16px; /* Tamanho da fonte */
    cursor: pointer; /* Muda o cursor ao passar sobre o botão */
    transition: background-color 0.3s, color 0.3s, font-weight 0.3s; /* Transição suave para hover */
    margin-top: 10px; /* Espaço acima do botão */
}

.card button:hover {
    background-color: #ffffff; /* Cor de fundo ao passar o mouse */
    color: #422b4a; /* Cor do texto ao passar o mouse */
    font-weight: bold; /* Texto em negrito ao passar o mouse */
}

@keyframes scroll {
    0% { transform: translateY(0); }
    100% { transform: translateY(-100%); }
}

.profile-pic {
    border-radius: 50%;
    width: 150px;
    height: 180px;
}

/* ===========================================
   ESTILO DO RODAPÉ
   =========================================== */
   .footer {
    background-color: #3a475e;
    text-align: center;
    padding: 20px;
}

.footer-social a {
    margin: 0 10px;
    color: #e0f2f1;
    text-decoration: none;
}

