/* ===========================================
   ESTILO GLOBAL 
   =========================================== */
   body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0f1d2b; /* Fundo do universo */
    color: #e0f2f1; /* Texto claro */
}

.sidebar {
    width: 25%; /* Ajuste conforme necessário */
    background-color: #f5f5f5;
    padding: 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.main-content {
    width: 75%; /* Ajuste conforme necessário */
    padding: 20px;
}

.highlights, .quotes-carousel, .featured-reviews {
    margin-bottom: 20px;
}
/* ===========================================
   CABEÇALHO
   =========================================== */
.header {
    background-color: #071f28; /* Cor neutra para contraste */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    max-width: 1200px; /* Limite de largura */
    margin: 0 auto; /* Centralizar */
}

.logo-image {
    width: 150px;
    margin: 0 auto; /* Centraliza a logo */
}

.social-icons {
    display: flex;
}

.social-icon {
    margin-left: 15px;
    transition: transform 0.3s ease;
}

.social-icon img {
    width: 50px;
    height: 50px;
}

.social-icon:hover {
    transform: scale(1.1);
}

/* ===========================================
   MENU PRINCIPAL
   =========================================== */
   .menu-section {
    text-align: center;
    position: relative;
    background-color: #071f28; /* Fundo do menu */
    padding: 10px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.menu-section ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

.menu-section ul li {
    position: relative;
    margin: 0 30px;
}

.menu-section ul li a {
    text-decoration: none;
    color: #e8cbfc;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.menu-section ul li a:hover {
    background-color: #97d5a4; /* Fundo ao passar o mouse */
    color: #071f28;
}

/* ===========================================
   SUBMENU E SUB-SUBMENU
   =========================================== */
/* Submenu de primeiro nível */
.menu-section ul li .submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: #071f28;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    padding: 10px 0;
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

.menu-section ul li:hover .submenu {
    display: block;
    opacity: 1;
}

/* Submenu de segundo nível */
.menu-section ul li .submenu .submenu-2 {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    margin-left: 10px;
    background: #071f28;
    padding-top: 0;
    border-radius: 5px;
    z-index: 1;
}

/* Exibição do submenu de segundo nível ao passar o mouse no item correspondente */
.menu-section ul li:hover .submenu .submenu-2 {
    display: block;
}

/* Indicador visual de submenu (seta) */
.menu-section ul li a.has-submenu::after {
    content: "▶";
    font-size: 0.8em;
    color: #e8cbfc;
    margin-left: 5px;
}

/* Estilo para os links do submenu */
.menu-section ul li .submenu li a,
.menu-section ul li .submenu .submenu-2 li a {
    padding: 12px 20px;
    color: #97d5a4;
    display: block;
    min-width: 150px;
    transition: background-color 0.3s;
}

.menu-section ul li .submenu li a:hover,
.menu-section ul li .submenu .submenu-2 li a:hover {
    background-color: #e8cbfc;
    color: #071f28;
}

/* ===========================================
   SEÇÃO DE DESTAQUES, CARDS E OUTRAS ÁREAS
   =========================================== */
   .highlights, .quotes-carousel, .featured-reviews, .about-partners {
    text-align: center;
    margin: 20px;
}

.cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    border: 1px solid #e8cbfc;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    background-color: #3a475e;
    transition: transform 0.2s;
    color: #e8cbfc;
}

.card:hover {
    transform: translateY(-5px);
}

.large-card {
    width: 200px;
}


.large-card {
    width: 200px;
}

/* ===========================================
   CAROUSEL
   =========================================== */
   .quotes-carousel {
    position: relative;
}

.carousel-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel {
    width: 1000px;
    overflow: hidden;
    text-align: center;
}

.quote {
    display: none;
    padding: 10px;
}

.quote.active {
    display: block;
}

.arrow {
    background-color: #e8cbfc;
    color: #071f28;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 24px;
    margin: 0 10px;
    border-radius: 5px;
    transition: background-color 0.5s;
}

.arrow:hover {
    background-color: #7986cb;
}

.arrow:focus {
    outline: 2px solid #e8cbfc;
}

/* ===========================================
   LINHA PONTILHADA
   =========================================== */
.dotted-line {
    border-top: 1px dotted #e8cbfc;
    margin: 10px 0;
}

.featured-reviews .card {
    border: 1px solid #e8cbfc;
    border-radius: 5px;
    padding: 15px; /* Aumentar o padding */
    background-color: #071f28; /* Manter a cor de fundo do card */
    color: #97d5a4;
    transition: transform 0.2s;
    width: 250px; /* Ajustar a largura do card conforme necessário */
    height: auto; /* Altura automática para acomodar as imagens */
}

.featured-reviews img {
    width: 100%; /* Assegurar que as imagens ocupem toda a largura do card */
    height: auto; /* Altura automática para manter a proporção da imagem */
    border-radius: 5px; /* Bordas arredondadas para um toque elegante */
}

.featured-reviews .card:hover {
    transform: translateY(-5px); /* Efeito ao passar o mouse */
}

/* ===========================================
   ESTILO DO BOTÃO DOS CARDS
   =========================================== */
.card button {
    width: 90%; /* Ocupa quase toda a largura do card */
    padding: 10px; /* Espaçamento interno para conforto */
    border: #e8cbfc; /* Remove borda padrão do botão */
    border-radius: 20px; /* Bordas arredondadas */
    background-color: transparent; /* Fundo transparente */
    color: #97d5a4; /* Cor do texto (leitura) */
    font-size: 16px; /* Tamanho da fonte */
    cursor: pointer; /* Muda o cursor ao passar sobre o botão */
    transition: background-color 0.3s, color 0.3s, font-weight 0.3s; /* Transição suave para hover */
    margin-top: 10px; /* Espaço acima do botão */
}

.card button:hover {
    background-color: #e8cbfc; /* Cor de fundo ao passar o mouse */
    color: #422b4a; /* Cor do texto ao passar o mouse */
    font-weight: bold; /* Texto em negrito ao passar o mouse */
}

/* ===========================================
   ESTILO DA SEÇÃO 5 - SOBRE MIM E PARCEIROS
   =========================================== */
   .about-partners {
    display: flex;
    flex-direction: column; /* Alinhamento vertical dos elementos */
    justify-content: space-between;
    align-items: center;
    background-color: #e8cbfc; /* Fundo lilás */
    color: #042e3d; /* Texto azul-petróleo */
    padding: 20px;
    width: 300px; /* Largura inicial */
    max-width: 90%; /* Limita a largura em telas pequenas */
    position: fixed; /* Fixa no lado direito */
    top: calc(50px); /* Altura do header */
    bottom: calc(50px); /* Altura do footer */
    right: 0;
    z-index: 10; /* Garante que fique acima de outros elementos */
    overflow-y: auto; /* Adiciona scroll caso o conteúdo ultrapasse */
    border-left: 3px solid #97d5a4; /* Separação com borda */
    transition: all 0.3s ease-in-out;
}

/* Estilo da foto de perfil */
.about-partners .profile-pic {
    border-radius: 50%;
    width: 120px;
    height: auto;
    margin-bottom: 10px;
}

/* Estilo do texto da descrição */
.about-partners p {
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    margin: 10px 0;
    color: #042e3d;
}

/* Estilo do formulário de inscrição */
.about-partners .subscribe {
    margin-top: 20px;
    text-align: center;
}

.about-partners .subscribe h4 {
    font-size: 18px;
    margin-bottom: 10px;
}

.about-partners .subscribe input {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #97d5a4;
    border-radius: 5px;
    font-size: 14px;
}

.about-partners .subscribe button {
    padding: 10px 20px;
    background-color: #97d5a4;
    color: #071f28;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.about-partners .subscribe button:hover {
    background-color: #042e3d;
    color: #e8cbfc;
}

/* Estilo da seção de parceiros */
.about-partners .partners {
    margin-top: 30px;
    width: 100%;
}

.about-partners .partners h4 {
    font-size: 18px;
    margin-bottom: 10px;
}

.about-partners .partner {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
}

.about-partners .partner img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-bottom: 5px;
}

.about-partners .partner p {
    font-size: 14px;
    color: #042e3d;
    text-align: center;
}



@keyframes scroll {
    0% { transform: translateY(0); }
    100% { transform: translateY(-100%); }
}

.profile-pic {
    border-radius: 50%;
    width: 150px;
    height: 180px;
}

/* ===========================================
   ESTILO DO RODAPÉ
   =========================================== */
   .footer {
    background-color: #3a475e;
    text-align: center;
    padding: 20px;
}

.footer-social a {
    margin: 0 10px;
    color: #e0f2f1;
    text-decoration: none;
}

/* RESPONSIVIDADE - AJUSTES PARA DISPOSITIVOS PEQUENOS */
@media screen and (max-width: 1024px) {
    .about-partners {
        width: 250px; /* Reduz largura */
    }
}

@media screen and (max-width: 768px) {
    .about-partners {
        width: 200px; /* Reduz mais em tablets */
    }
}

@media screen and (max-width: 576px) {
    .about-partners {
        position: static; /* Remove a posição fixa */
        margin: 10px auto; /* Centraliza no fluxo do layout */
        width: 100%; /* Ocupa a largura total */
        border-left: none; /* Remove borda */
        border: 1px solid #97d5a4; /* Adiciona borda ao redor */
    }
}

/* RESPONSIVIDADE - AJUSTES DE TEXTO E IMAGENS */
.about-partners p {
    font-size: 14px; /* Ajusta o texto para telas menores */
}

.about-partners .profile-pic {
    width: 100px; /* Reduz tamanho da imagem */
    height: auto;
}

